<div class="pane-group">
    <h3>Manage Address</h3>
    <div class="add-more-btn">
        <div class="flt-left">
            <i class="fa fa-plus"></i> 
            <a class="add-btn">                                
                Add a new address
            </a>
        </div>
        <div class="flt-right">
            <i class="fa fa-trash"></i> 
            <a class="delete-btn">
                Delete address
            </a>
        </div>
        <div class="clr-both"></div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-6">
                <label class="lbl">Full Name</label>
                <input type="text" class="inpt" placeholder="e.g 2014">
            </div>
            <div class="col-md-6">
                <label class="lbl">Mobile</label>
                <input type="text" class="inpt" placeholder="e.g 2020">
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-6">
                <label class="lbl">Pincode</label>
                <input type="text" class="inpt" placeholder="e.g 2014">
            </div>
            <div class="col-md-6">
                <label class="lbl">Locality</label>
                <input type="text" class="inpt" placeholder="e.g 2020">
            </div>
        </div>
    </div>                    
    <div class="form-group">
        <div class="row">
            <div class="col-md-12">
                <label class="lbl">Address</label>
                <textarea class="inpt" placeholder="e.g 2014"></textarea>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-6">
                <label class="lbl">City/District/Town</label>
                <input type="text" class="inpt" placeholder="e.g 2014">
            </div>
            <div class="col-md-6">
                <label class="lbl">State</label>
                <input type="text" class="inpt" placeholder="e.g 2020">
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-6">
                <label class="lbl">Landmark</label>
                <input type="text" class="inpt" placeholder="e.g 2014">
            </div>
            <div class="col-md-6">
                <label class="lbl">Alternate Phone</label>
                <input type="text" class="inpt" placeholder="e.g 2020">
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-12">
                <label class="lbl">Address Type</label>
                <input type="radio" name="gender" class="regular-radio" id="checkbox-1" />
                <label for="checkbox-1"></label> 
                <span class="filter-widget-text">
                    Home
                </span>
                <input type="radio" name="gender" class="regular-radio" id="checkbox-2" />
                <label for="checkbox-2"></label> 
                <span class="filter-widget-text">
                    Work
                </span>
                <!-- <label class="lbl">Address Type</label>
                <input type="text" class="inpt" placeholder="e.g 2014"> -->
            </div>
        </div>
    </div>
</div>

<div class="pane-group">
    <div class="address-group">
        <h4>Home</h4>
        <p>
            Dillip Kumar Pradhan 9090658068
        </p>
        <p>
            9/21, TNHB Colony, Lake view apartment , Sholinganallur
        </p>
        <p>
            Chennai, Tamil Nadu - 600119
        </p>
    </div>
    
    <div class="address-group">
        <h4>Office</h4>
        <p>
            Dillip Kumar Pradhan 8778942171
        </p>
        <p>
            TNQ Books and Journals, Plot no 4/600, 4/197, phase II, Dr Vikram sarabhai instronic Estate, Kottivakkam, 
        </p>
        <p>
            Chennai, Tamil Nadu - 600041
        </p>
    </div>
</div>