<div class="container-fluid content">
    <div class="content-top">
        <div class="row">
            <div class="col-sm-6">
                <div class="top-header pd-t3">
                    {{ locale.label.heading }}
                </div>
                <div class="top-body ds-9">
                    <ol class="content-nav">
                        <li class="content-nav-item">
                            <a [routerLink]="['/']">
                                {{ breadCumb.first }}
                            </a>
                        </li>    
                        <li class="content-nav-item"> 
                            <i class="fa fa-chevron-right mg-l5" aria-hidden="true"></i>   
                            <a [routerLink]="['/admin/dashboard']">
                                {{ locale.label.breadCumb.second }}
                            </a>    
                        </li> 
                        <li class="content-nav-item"> 
                            <i class="fa fa-chevron-right mg-l5" aria-hidden="true"></i>   
                            <a>
                                {{ locale.label.breadCumb.third }}
                            </a>    
                        </li>
                    </ol>
                </div> 
            </div>
            <div class="col-sm-6 text-right">
                
            </div>
        </div>       
    </div>

    <div class="content-middle">
        <div class="middle-header">
            <div class="alert-message">
                <div class="alert alert-success" role="alert">            
                </div>
            </div>
            <div class="alert-message">
                <div class="alert alert-danger" role="alert">            
                </div>
            </div>
        </div>
    </div>

    <div class="content-bottom">
        <div class="bottom-body pd-10">
            <form [formGroup]="changePasswordFrm" class="change-password-frm">

                <div class="form-row">                
                    <div class="form-group col">
                        <label class="lbl">
                            {{ locale.label.password.label }}
                        </label>

                        <input type="password" class="inpt password" placeholder="{{ locale.label.password.placeholder }}" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">

                        <div *ngIf="submitted && f.password.errors" class="error">
                            <div *ngIf="f.password.errors.required">
                                {{ locale.error.password.required }}
                            </div>
                        </div>
    
                        <div class="server-error error"></div>
                    </div>                        
                </div>

                <div class="form-row">
                    <div class="form-group col">
                        <label class="lbl">
                            {{ locale.label.newPassword.label }}
                        </label>
                        
                        
                        <input type="password" class="inpt newPassword" placeholder="{{ locale.label.newPassword.placeholder }}" formControlName="newPassword" [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }">
                        
                        <div *ngIf="submitted && f.newPassword.errors" class="error">
                            <div *ngIf="f.newPassword.errors.required">
                                {{ locale.error.newPassword.required }}
                            </div>
                            <div *ngIf="f.newPassword.errors.minlength">
                                {{ locale.error.newPassword.minLength }}
                            </div>
                            <div *ngIf="f.newPassword.errors.maxlength">
                                {{ locale.error.newPassword.maxLength }}
                            </div>
                            <div *ngIf="f.newPassword.errors.pattern">
                                {{ locale.error.newPassword.pattern }}
                            </div>
                        </div>

                        <div class="server-error error"></div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col">
                        <label class="lbl">
                            {{ locale.label.confirmPassword.label }}
                        </label>
                        
                        
                        <input type="password" class="inpt confirmPassword" placeholder="{{ locale.label.confirmPassword.placeholder }}" formControlName="confirmPassword" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }">
                        
                        <div *ngIf="submitted && f.confirmPassword.errors" class="error">
                            <div *ngIf="f.confirmPassword.errors.required">
                                {{ locale.error.confirmPassword.required }}
                            </div>
                            <div *ngIf="f.confirmPassword.errors.mustMatch">
                                {{ locale.error.confirmPassword.mustMatch }}
                            </div>
                        </div>

                        <div class="server-error error"></div>
                    </div>
                </div>

                <button class="btn primary mg-r10" (click)="changePassword('change-password-form')">
                    {{ locale.label.btnPrimary }}
                </button>

                <button class="btn secondary" (click)="resetFrm()">
                    {{ locale.label.btnSec }}
                </button>

            </form>
        </div>
    </div>

    <div class="footer">
        <div class="row">
            <div class="col-lg-7">
                © 2021  {{ footer.copyRight }}
            </div>
            <div class="col-lg-5">
                {{ footer.poweredBy }}
            </div>
        </div>
    </div>
</div>