<div class="container-fluid content" (scroll)="loadMore()">
    <div class="server-scroll-top"></div>

    <div class="content-top">
        <div class="row">
            <div class="col-sm-6">
                <div class="top-header pd-t3">
                    {{ locale.label.heading }}
                </div>
                <div class="top-body ds-9">
                    <ol class="content-nav">
                        <li class="content-nav-item">
                            <a [routerLink]="['/']">
                                {{ breadCumb.first }}
                            </a>
                        </li>    
                        <li class="content-nav-item"> 
                            <i class="fa fa-chevron-right mg-l5" aria-hidden="true"></i>   
                            <a [routerLink]="['/admin/dashboard']">
                                {{ locale.label.breadCumb.second }}
                            </a>    
                        </li> 
                        <li class="content-nav-item"> 
                            <i class="fa fa-chevron-right mg-l5" aria-hidden="true"></i>   
                            <a>
                                {{ locale.label.breadCumb.third }}
                            </a>    
                        </li>
                    </ol>
                </div> 
            </div>
            <div class="col-sm-6 text-right">
                <!-- Button trigger modal -->
                <button type="button" class="btn primary" data-toggle="modal" data-target="#app-modal" id="modalBtn">
                    {{ locale.label.addUser }}
                </button>
            </div>
        </div>    
    </div>

    <div class="content-middle">
        <div class="middle-header">
            <div class="alert-message">
                <div class="alert alert-success" role="alert">            
                </div>
            </div>
            <div class="alert-message">
                <div class="alert alert-danger" role="alert">            
                </div>
            </div>
        </div>
    </div>
    
    <div class="content-bottom">
        <div class="bottom-header ds-9">
            <div class="row">
                <div class="col-lg-12 list-heading">
                    {{ locale.label.list.heading }}
                </div>
            </div>
        </div>
        <div class="row body-header">
            <div class="col-sm-8 mg-b10 mg-t10 pd-t8">
                <ng-container *ngIf="totalCount > 0">
                    Showing {{ start }} to {{ end }} of {{ totalCount }} entries
                </ng-container> 
            </div>
            <div class="col-sm-4 mg-b10 mg-t10 text-right">
                <button class="btn btn-filter btn-filter-bg" (click)="toggleSearchPanel()">
                    <i class="fa fa-sliders" aria-hidden="true"  (click)="toggleSearchPanel()"></i>
                    {{ locale.label.list.filter }}   
                </button> 
                <select class="inpt width-auto limit" (change)="setPageLimit(limit.value, true)" #limit>
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
            </div>
        </div>
        <div class="bottom-search">
            <div class="search-panel" [formGroup]="userSearchFrm">
                <div class="row">
                    <div class="col-md-4 mg-b10">
                        <input type="text" class="inpt" placeholder="{{ locale.label.list.panel.firstName.placeholder }}" formControlName="firstName">
                    </div>
                    <div class="col-md-4 mg-b10">
                        <input type="text" class="inpt" placeholder="{{ locale.label.list.panel.lastName.placeholder }}" formControlName="lastName">
                    </div>
                    <div class="col-md-4 mg-b10">
                        <input type="text" class="inpt" placeholder="{{ locale.label.list.panel.email.placeholder }}" formControlName="email">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 mg-b10">
                        <select class="inpt" formControlName="roles">
                            <option value="null">
                                {{ locale.label.list.panel.roles.placeholder }}
                            </option>
                            <option *ngFor="let role of roles" value="{{ role._id }}">
                                {{ role.roleName }}
                            </option>
                        </select>
                    </div>
                    <div class="col-md-4 mg-b10">
                        <input type="text" class="inpt" placeholder="{{ locale.label.list.panel.mobile.placeholder }}" formControlName="mobile">
                    </div>   
                    <div class="col-md-4 text-right">
                        <button class="btn primary" (click)="getUsers(true)">
                            <i class="fa fa-search" aria-hidden="true"></i>
                            {{ locale.label.btnSearch }}
                        </button>
                    </div>             
                </div>
            </div>        
        </div>  
        <div class="bottom-filter">
            <div class="filter-panel mg-t10 mg-b10 applied-filters" *ngIf="isFilterApplied">
                <div class="row">
                    <div class="col-sm-6">
                        {{ locale.label.list.appliedFilter }}:
                    </div>
                    
                    <div class="col-sm-6 text-right">
                        <a (click)=resetFilters()>
                            {{ locale.label.list.clearFilters }}
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 mg-t10 mg-b10 applied-filters" >
                        <span class="badge rounded-pill bg-secondary pd-5 mg-r5" *ngIf="userSearchFrm.value.firstName">
                            {{ locale.label.firstName.label }} : {{ userSearchFrm.value.firstName }}
                        </span>
                        <span class="badge rounded-pill bg-secondary pd-5 mg-r5" *ngIf="userSearchFrm.value.lastName">
                            {{ locale.label.lastName.label }} : {{ userSearchFrm.value.lastName }}
                        </span>
                        <span class="badge rounded-pill bg-secondary pd-5 mg-r5" *ngIf="userSearchFrm.value.email">
                            {{ locale.label.email.label }} : {{ userSearchFrm.value.email }}
                        </span>
                        <span class="badge rounded-pill bg-secondary pd-5 mg-r5" *ngIf="userSearchFrm.value.roles">
                            {{ locale.label.roles.label }} : {{ roleId2Name[userSearchFrm.value.roles] }}
                        </span>
                        <span class="badge rounded-pill bg-secondary pd-5 mg-r5" *ngIf="userSearchFrm.value.mobile">
                            {{ locale.label.mobile.label }} : {{ userSearchFrm.value.mobile }}
                        </span>
                    </div>
                </div>
            </div>        
        </div>      
        <div class="bottom-body">
            <div class="row">
                <div class="col-lg-12">
                    <div class="table-responsive">
                        <table class="table list" *ngIf="users">
                            <thead>
                                <tr [attr.data-id]="idx">
                                    <th>
                                        {{ locale.label.list.name }}
                                        <i class="fa fa-sort" aria-hidden="true" (click)="setSort('firstName')"></i>
                                    </th>
                                    <th>
                                        {{ locale.label.list.email }}
                                        <i class="fa fa-sort" aria-hidden="true" (click)="setSort('firstName')"></i>
                                    </th>
                                    <th>
                                        {{ locale.label.list.status }}
                                        <i class="fa fa-sort" aria-hidden="true" (click)="setSort('firstName')"></i>
                                    </th>
                                    <th>
                                        {{ locale.label.list.date }}
                                        <i class="fa fa-sort" aria-hidden="true" (click)="setSort('createdDate')"></i>
                                    </th>
                                    <th>
                                        {{ locale.label.list.action }}
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let user of users;let idx = index;">
                                    <td>
                                        {{ user.firstName }} {{ user.lastName }}
                                    </td>
                                    <td>
                                        {{ user.email }}
                                    </td>
                                    <td>
                                        {{ (user.isActive === true) ? 'Active': 'Inactive'  }}
                                    </td>
                                    <td>
                                        {{ user.createdDate | date: 'dd-MM-yyyy' }}
                                    </td>
                                    <td>
                                        <i class="fa fa-adjust status pd-r5" aria-hidden="true" title="{{ locale.label.list.title.activate }}" (click)="activate(user._id,user.isActive)"></i>
        
                                        <i class="fa fa fa-undo reset pd-r5" title="{{ locale.label.list.title.reset }}"  (click)="recover(user._id)"></i>
        
                                        <i class="fa fa-pencil-square-o edit pd-r5" title="{{ locale.label.list.title.edit }}"  (click)="editUsers(idx)"></i>
        
                                        <i class="fa fa-trash-o delete" title="{{ locale.label.list.title.delete }}"  (click)="deleteUsers(user._id)"></i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-footer">
            <div class="footer-panel">
                <div class="row" *ngIf="!noRecordFound">
                    <div class="col-lg-12 no-record-found">
                        <p class="mg-b10">
                            <i aria-hidden="true" class="fa fa-sliders fs-32"></i>
                        </p>
                        <p class="mg-b10">
                            {{ locale.label.list.noRecordFound }}
                        </p>
                        <p class="mg-b10">
                            {{ locale.label.list.noRecordFoundSorry }}
                        </p>                    
                    </div>
                </div>
            </div>        
        </div>
    </div>
    
    <div class="footer">
        <div class="row">
            <div class="col-lg-7">
                © 2021  {{ footer.copyRight }} 
            </div>
            <div class="col-lg-5">
                 {{ footer.poweredBy }} 
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="app-modal" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">
                    {{ locale.label.addUser }}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="resetFrm()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="alert-message-frm"></div>
                <form [formGroup]="userFrm" class="user-frm">
                    <input type="hidden" name="_id" id="_id" class="_id" formControlName="_id">
                    <div class="form-row">                
                        <div class="form-group col-lg-6 col-md-6">
                            <label class="lbl">
                                {{ locale.label.firstName.label }}
                                <span class="error">*</span>
                            </label>
    
                            <input type="text" class="inpt firstName" placeholder="{{ locale.label.firstName.placeholder }}" formControlName="firstName" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }">
    
                            <div *ngIf="submitted && f.firstName.errors" class="error">
                                <div *ngIf="f.firstName.errors.required">
                                    {{ locale.error.firstName.required }}
                                </div>
                            </div>
        
                            <div class="server-error error"></div>
                        </div> 
                        <div class="form-group col-lg-6 col-md-6">
                            <label class="lbl">
                                {{ locale.label.lastName.label }}
                                <span class="error">*</span>
                            </label>
                            
                            <input type="text" class="inpt lastName" placeholder="{{ locale.label.lastName.placeholder }}" formControlName="lastName" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }">
                            
                            <div *ngIf="submitted && f.lastName.errors" class="error">
                                <div *ngIf="f.lastName.errors.required">
                                    {{ locale.error.lastName.required }}
                                </div>
                            </div>
        
                            <div class="server-error error"></div>
                        </div>                        
                    </div>
                    <div class="form-row">                
                        <div class="form-group col-lg-6 col-md-6">
                            <label class="lbl">
                                {{ locale.label.email.label }}
                                <span class="error">*</span>
                            </label>
                            
                            <input type="text" class="inpt email" placeholder="{{ locale.label.email.placeholder }}" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                            
                            <div *ngIf="submitted && f.email.errors" class="error">
                                <div *ngIf="f.email.errors.required">
                                    {{ locale.error.email.required }}
                                </div>
                                <div *ngIf="f.email.errors.email">
                                    {{ locale.error.email.invalid }}
                                </div>
                            </div>
        
                            <div class="server-error error"></div>
                        </div> 
                        <div class="form-group col-lg-6 col-md-6">
                            <label class="lbl roles">
                                {{ locale.label.roles.label }}
                                <span class="error">*</span>
                            </label>
                            
                            <input type="hidden" formControlName="roles">
    
                            <div id="roles" class="magic-suggest" [ngClass]="{ 'is-invalid': submitted && f.roles.errors }">
                            </div>
                            
                            <div *ngIf="submitted && f.roles.errors" class="error">
                                <div *ngIf="f.roles.errors.required">
                                    {{ locale.error.roles.required }}
                                </div>
                            </div>
        
                            <div class="server-error error"></div>
                        </div>                        
                    </div>
                    <div class="form-row">
                        <div class="form-group col-lg-6 col-md-6">
                            <label class="lbl defaultRole">
                                {{ locale.label.defaultRole.label }}
                                <span class="error">*</span>
                            </label>
                            
                            <input type="hidden" formControlName="defaultRole">
                            <div id="defaultRole" class="magic-suggest" [ngClass]="{ 'is-invalid': submitted && f.defaultRole.errors }">
                            </div>
                            
                            <div *ngIf="submitted && f.defaultRole.errors" class="error">
                                <div *ngIf="f.defaultRole.errors.required">
                                    {{ locale.error.defaultRole.required }}
                                </div>
                            </div>
        
                            <div class="server-error error"></div>
                        </div>                        
                    </div>    
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn secondary" (click)="resetFrm()">
                    <i class="fa fa-undo" aria-hidden="true"></i>
                    {{ locale.label.btnSec }}
                </button>

                <button class="btn primary mg-r10" (click)="saveUsers()">
                    <i class="fa fa-floppy-o" aria-hidden="true"></i>
                    {{ locale.label.btnPrimary }}
                </button>
            </div>
        </div>
    </div>
</div>