<div class="container-fluid content" (scroll)="loadMore()">
    <div class="content-top">
        <div class="row">
            <div class="col-sm-6">
                <div class="top-header pd-t3">
                    {{ locale.label.heading }}
                </div>
                <div class="top-body ds-9">
                    <ol class="content-nav">
                        <li class="content-nav-item">
                            <a [routerLink]="['/']">
                                {{ breadCumb.first }}
                            </a>
                        </li>    
                        <li class="content-nav-item"> 
                            <i class="fa fa-chevron-right mg-l5" aria-hidden="true"></i>   
                            <a [routerLink]="['/admin/dashboard']">
                                {{ locale.label.breadCumb.second }}
                            </a>    
                        </li> 
                        <li class="content-nav-item"> 
                            <i class="fa fa-chevron-right mg-l5" aria-hidden="true"></i>   
                            <a>
                                {{ locale.label.breadCumb.third }}
                            </a>    
                        </li>
                    </ol>
                </div> 
            </div>
            <div class="col-sm-6 text-right">
                <!-- Button trigger modal -->
                <button type="button" class="btn primary" data-toggle="modal" data-target="#app-modal" id="modalBtn">
                    {{ locale.label.addRole }}
                </button>
            </div>
        </div>       
    </div>

    <div class="content-middle">
        <div class="middle-header">
            <div class="alert-message">
                <div class="alert alert-success" role="alert">            
                </div>
            </div>
            <div class="alert-message">
                <div class="alert alert-danger" role="alert">            
                </div>
            </div>
        </div>
    </div>

    <div class="content-bottom">
        <div class="bottom-header ds-9">
            <div class="row">
                <div class="col-sm-8 mg-b10 pd-t8 list-heading">
                    {{ locale.label.list.heading }}
                </div>
                <div class="col-sm-4 mg-b10 text-right">
                    <button class="btn btn-filter btn-filter-bg" (click)="toggleSearchPanel()">
                        <i class="fa fa-sliders" aria-hidden="true"></i>
                        {{ locale.label.list.filter }}   
                    </button>                            
                </div>
            </div>
        </div>  
        <div class="row body-header">
            <div class="col-sm-8 mg-b10 mg-t10 pd-t8">
                <ng-container *ngIf="totalCount > 0">
                    Showing {{ start }} to {{ end }} of {{ totalCount }} entries
                </ng-container> 
            </div>
            <div class="col-sm-4 mg-b10 mg-t10 text-right">
                <button class="btn btn-filter btn-filter-bg" (click)="toggleSearchPanel()">
                    <i class="fa fa-sliders" aria-hidden="true"  (click)="toggleSearchPanel()"></i>
                    {{ locale.label.list.filter }}   
                </button> 
                <select class="inpt width-auto limit" (change)="setPageLimit(limit.value, true)" #limit>
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
            </div>
        </div>
        <div class="bottom-search">
            <div class="search-panel" [formGroup]="questionSearchFrm">
                <div class="row">
                    <div class="col-md-3 mg-b10">
                        <select class="inpt specialityId"  formControlName="specialityId" (change)="getCategoriesBySpeciality(specialityIdSearch.value)" #specialityIdSearch>
                            <option value="null">{{ locale.label.list.panel.specialityId.placeholder }}</option>
                            <option value="{{ speciality._id }}" *ngFor="let speciality of specialities">
                                {{ speciality.specialityName }}
                            </option>
                        </select>
                    </div>
                    <div class="col-md-3 mg-b10">
                        <select class="inpt categoryId"  formControlName="categoryId">
                            <option value="null">{{ locale.label.list.panel.categoryId.placeholder }}</option>
                            <option value="{{ cat._id }}" *ngFor="let cat of categories">
                                {{ cat.categoryName }}
                            </option>
                        </select>
                    </div>
                    <div class="col-md-3 mg-b10">
                        <select class="inpt inputType" formControlName="inputType">
                            <option value="null">{{ locale.label.list.panel.inputType.placeholder }}</option>
                            <option *ngFor="let inptType of locale.label.inputTypes" value="{{ inptType.key }}">
                                {{ inptType.value }}
                            </option>
                        </select>
                    </div>
                    <div class="col-md-3 mg-b10">
                        <input type="text" class="inpt" placeholder="{{ locale.label.list.panel.questionName.placeholder }}" formControlName="questionName">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 mg-b10">
                        <input type="text" class="inpt" placeholder="{{ locale.label.list.panel.options.placeholder }}" formControlName="options">
                    </div>
                    <div class="col-md-3 mg-b10">
                        <input type="text" class="inpt" placeholder="{{ locale.label.list.panel.answer.placeholder }}" formControlName="answer">
                    </div>
                    <div class="col-md-6 mg-b10 text-right">
                        <button class="btn primary" (click)="getQuestions(true)">
                            <i class="fa fa-search" aria-hidden="true"></i>
                            {{ locale.label.btnSearch }}
                        </button>
                    </div>
                </div>
            </div>        
        </div>
        <div class="bottom-filter">
            <div class="filter-panel mg-t10 mg-b10 applied-filters" *ngIf="isFilterApplied">
                <div class="row">
                    <div class="col-sm-6">
                        {{ locale.label.list.appliedFilter }}:
                    </div>
                    
                    <div class="col-sm-6 text-right">
                        <a (click)=resetFilters()>
                            {{ locale.label.list.clearFilters }}
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 mg-t10 mg-b10 applied-filters">
                        <span class="badge rounded-pill bg-secondary pd-5 mg-r5" *ngIf="questionSearchFrm.value.specialityId">
                            {{ locale.label.list.panel.specialityId.label }} : {{ specialityId2Name[questionSearchFrm.value.specialityId] }}
                        </span>
                        <span class="badge rounded-pill bg-secondary pd-5 mg-r5" *ngIf="questionSearchFrm.value.categoryId">
                            {{ locale.label.list.panel.categoryId.label }} : {{ categoryId2Name[questionSearchFrm.value.categoryId] }}
                        </span>
                        <span class="badge rounded-pill bg-secondary pd-5 mg-r5" *ngIf="questionSearchFrm.value.questionName">
                            {{ locale.label.list.panel.questionName.label }} : {{ questionSearchFrm.value.questionName }}
                        </span>
                        <span class="badge rounded-pill bg-secondary pd-5 mg-r5" *ngIf="questionSearchFrm.value.inputType">
                            {{ locale.label.list.panel.inputType.label }} : {{ locale.label.inputTypesKeyMap[questionSearchFrm.value.inputType] }}
                        </span>
                        <span class="badge rounded-pill bg-secondary pd-5 mg-r5" *ngIf="questionSearchFrm.value.options">
                            {{ locale.label.list.panel.options.label }} : {{ questionSearchFrm.value.options }}
                        </span>
                        <span class="badge rounded-pill bg-secondary pd-5 mg-r5" *ngIf="questionSearchFrm.value.answer">
                            {{ locale.label.list.panel.answer.label }} : {{ questionSearchFrm.value.answer }}
                        </span>
                    </div>
                </div>
            </div>        
        </div>
        <div class="bottom-body" *ngIf="noRecordFound">
            <div class="row">
                <div class="col-lg-12">
                    <div class="table-responsive">
                        <table class="table list" *ngIf="questions">
                            <thead>
                                <tr [attr.data-id]="idx">
                                    <th>
                                        {{ locale.label.list.speciality }}
                                    </th>
                                    <th>
                                        {{ locale.label.list.category }}
                                    </th>
                                    <th>
                                        {{ locale.label.list.questionName }}
                                        <i class="fa fa-sort" aria-hidden="true" (click)="setSort('questionName')"></i>
                                    </th>
                                    <th>
                                        {{ locale.label.list.answer }}
                                        <i class="fa fa-sort" aria-hidden="true" (click)="setSort('answer')"></i>
                                    </th>
                                    <th>
                                        {{ locale.label.list.type }}
                                        <i class="fa fa-sort" aria-hidden="true" (click)="setSort('type')"></i>
                                    </th>
                                    <th>
                                        {{ locale.label.list.date }}
                                        <i class="fa fa-sort" aria-hidden="true" (click)="setSort('createdDate')"></i>
                                    </th>
                                    <th>
                                        {{ locale.label.list.action }}
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let question of questions;let idx = index;">
                                    <td>
                                        {{ question.speciality?.specialityName }}
                                    </td>
                                    <td>
                                        {{ question.category?.categoryName }}
                                    </td>
                                    <td>
                                        {{ question.questionName }}
                                    </td>
                                    <td>
                                        {{ question.answer }}
                                    </td>
                                    <td>
                                        {{ locale.label.inputTypesKeyMap[question.inputType] }}
                                    </td>
                                    <td>
                                        {{ question.createdDate | date: 'dd-MM-yyyy' }}
                                    </td>
                                    <td>
                                        <i class="fa fa-pencil-square-o edit pd-r5" title="{{ locale.label.list.title.edit }}"  (click)="editQuestions(idx)"></i>
    
                                        <i class="fa fa-trash-o delete" title="{{ locale.label.list.title.delete }}"  (click)="deleteQuestions(question._id)"></i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-footer">
            <div class="footer-panel">
                <div class="row" *ngIf="!noRecordFound">
                    <div class="col-lg-12 no-record-found">
                        <p class="mg-b10">
                            <i aria-hidden="true" class="fa fa-sliders fs-32"></i>
                        </p>
                        <p class="mg-b10">
                            {{ locale.label.list.noRecordFound }}
                        </p>
                        <p class="mg-b10">
                            {{ locale.label.list.noRecordFoundSorry }}
                        </p>                    
                    </div>
                </div>
            </div>        
        </div>
    </div>

    <div class="footer">
        <div class="row">
            <div class="col-lg-7">
                © 2021  {{ footer.copyRight }} 
            </div>
            <div class="col-lg-5">
                 {{ footer.poweredBy }} 
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="app-modal" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">
                    {{ locale.label.addRole }}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="resetFrm()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="alert-message-frm"></div>
                <form [formGroup]="questionFrm" class="question-frm">
                    <input type="hidden" name="_id" id="_id" class="_id" formControlName="_id">
                    <div class="form-row">                
                        <div class="form-group col-12">
                            <label class="lbl">
                                {{ locale.label.specialityId.label }}
                                <span class="error">*</span>
                            </label>
                            
                            <select class="inpt specialityId"  id="specialityId" formControlName="specialityId" [ngClass]="{ 'is-invalid': submitted && f.specialityId.errors }" (change)="getCategoriesBySpeciality(specialityId.value)" #specialityId>
                                <option value="null">Select</option>
                                <option value="{{ speciality._id }}" *ngFor="let speciality of specialities">
                                    {{ speciality.specialityName }}
                                </option>
                            </select>
                            
                            <div *ngIf="submitted && f.specialityId.errors" class="error">
                                <div *ngIf="f.specialityId.errors.required">
                                    {{ locale.error.specialityId.required }}
                                </div>
                            </div>
        
                            <div class="server-error error"></div>
                        </div>                        
                    </div>
                    <div class="form-row">                
                        <div class="form-group col-12">
                            <label class="lbl">
                                {{ locale.label.categoryId.label }}
                                <span class="error">*</span>
                            </label>
                            
                            <select class="inpt categoryId"  id="categoryId" formControlName="categoryId" [ngClass]="{ 'is-invalid': submitted && f.categoryId.errors }">
                                <option value="null">Select</option>
                                <option value="{{ cat._id }}" *ngFor="let cat of categories">
                                    {{ cat.categoryName }}
                                </option>
                            </select>
                            
                            <div *ngIf="submitted && f.categoryId.errors" class="error">
                                <div *ngIf="f.categoryId.errors.required">
                                    {{ locale.error.categoryId.required }}
                                </div>
                            </div>
        
                            <div class="server-error error"></div>
                        </div>                        
                    </div>
                    <div class="form-row">                
                        <div class="form-group col-12">
                            <label class="lbl">
                                {{ locale.label.questionName.label }}
                                <span class="error">*</span>
                            </label>
                            
                            <textarea type="text" class="inpt questionName"  id="questionName" placeholder="{{ locale.label.questionName.placeholder }}" formControlName="questionName" [ngClass]="{ 'is-invalid': submitted && f.questionName.errors }">
                            </textarea>
                            
                            <div *ngIf="submitted && f.questionName.errors" class="error">
                                <div *ngIf="f.questionName.errors.required">
                                    {{ locale.error.questionName.required }}
                                </div>
                            </div>
        
                            <div class="server-error error"></div>
                        </div>                        
                    </div>                
                    <div class="form-row">                
                        <div class="form-group col-12">
                            <label class="lbl">
                                {{ locale.label.inputType.label }}
                                <span class="error">*</span>
                            </label>
                            
                            <select class="inpt inputType"  id="inputType" formControlName="inputType" [ngClass]="{ 'is-invalid': submitted && f.inputType.errors }" (change)="resetOptionAnser()">
                                <option value="null">Select</option>
                                <option *ngFor="let inptType of locale.label.inputTypes" value="{{ inptType.key }}">
                                    {{ inptType.value }}
                                </option>
                            </select>
                            
                            <div *ngIf="submitted && f.inputType.errors" class="error">
                                <div *ngIf="f.inputType.errors.required">
                                    {{ locale.error.inputType.required }}
                                </div>
                            </div>
        
                            <div class="server-error error"></div>
                        </div>                        
                    </div>
                    <div class="form-row">  
                        <div class="form-group col-12">
                            <div class="row">
                                <div class="col-3">
                                    <label>
                                        {{ locale.label.options.label }}
                                        <span class="error">*</span>
                                    </label>
                                </div>
                                <div class="col-9 text-right">
                                    <div class="add-more"  (click)="addOptions()">
                                        <i class="fa fa-plus"></i>
                                        <a class="add-btn">
                                            {{ locale.label.options.action.add }}
                                        </a>
                                    </div>
                                    <div class="add-more" (click)="removeOptions($event)">
                                        <i class="fa fa-trash"></i>
                                        <a class="delete-btn"> 
                                            {{ locale.label.options.action.delete }}
                                        </a>
                                    </div>
                                    <div class="add-more"  (click)="addAnswer()">
                                        <i class="fa fa-plus"></i>
                                        <a class="add-btn">
                                            {{ locale.label.options.action.addToAnswer }}
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 server-error error"></div>
                            </div>
                            <div class="row" *ngIf="options">
                                <div class="col-12">
                                    <div class="option-outer">
                                        <div class="option-outer-single" *ngFor="let opt of options;let idx = index;">
                                            <div class="chbx">
                                                <input type="checkbox"  id="checkbox{{ idx }}" class="regular-checkbox option-chbx" value="{{ idx }}">
                                        
                                                <label class="box-chkbx-label" for="checkbox{{ idx }}"></label>
                                            </div>
                                            <textarea class="inpt opts" placeholder="{{ locale.label.options.placeholder }}" name="option-text-{{ idx }}" (keyup)="showOptionValidationError()"></textarea>
                                                
                                            <div class="error ds-9">
                                                {{ locale.error.options.required }}
                                            </div>
                        
                                            <!-- <div class="server-error error"></div> -->
                                        </div>
                                    </div>  
                                    <div class="error ds-9">
                                        {{ locale.error.options.required }}
                                    </div>                              
                                </div>
                            </div>
                        </div>                                           
                    </div>
                    <div class="form-row">                
                        <div class="form-group col-12">
                            <div class="question-sets-header" >
                                <label class="lbl questions">
                                    {{ locale.label.answer.label }}
                                    <span class="error">*</span>
                                </label>
                                <div class="add-more" (click)="removeAnswer($event)">
                                    <i class="fa fa-trash"></i>
                                    <a class="delete-btn"> 
                                        {{ locale.label.options.action.delete }}
                                    </a>
                                </div>
                            </div>

                            <input type="hidden" formControlName="answer" class="answer" id="answer">
                                
                            <div class="option-outer" [ngClass]="{ 'is-invalid': submitted && f.answer.errors }">
                                <div class="option-outer-single" *ngFor="let answer of answers;let idxAnsw = index;">
                                    <div class="chbx">
                                        <input type="checkbox" id="answer{{ idxAnsw }}" class="regular-checkbox answer-chbx" value="{{ answer }}">
                                
                                        <label class="box-chkbx-label" for="answer{{ idxAnsw }}"></label>
                                    </div>
                                    <div class="answer-row">
                                        {{ answer }}
                                    </div>
                                </div>                               
                            </div> 

                            <div *ngIf="submitted && f.answer.errors" class="error">
                                <div *ngIf="f.answer.errors.required">
                                    {{ locale.error.answer.required }}
                                </div>
                            </div>
                            
                            <div class="server-error error"></div>
                        </div>                                           
                    </div>
                    <div class="form-row">                
                        <div class="form-group col-12">
                            <label class="lbl">
                                {{ locale.label.comments.label }}
                            </label>
                            
                            <input type="text" class="inpt comments"  id="comments" placeholder="{{ locale.label.comments.placeholder }}" formControlName="comments" [ngClass]="{ 'is-invalid': submitted && f.comments.errors }">
                            
                            <div *ngIf="submitted && f.comments.errors" class="error">
                                <div *ngIf="f.comments.errors.required">
                                    {{ locale.error.comments.required }}
                                </div>
                            </div>
        
                            <div class="server-error error"></div>
                        </div>                        
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn secondary" (click)="resetFrm()">
                    <i class="fa fa-undo" aria-hidden="true"></i>
                    {{ locale.label.btnSec }}
                </button>

                <button class="btn primary mg-r10" (click)="saveQuestions()">
                    <i class="fa fa-floppy-o" aria-hidden="true"></i>
                    {{ locale.label.btnPrimary }}
                </button>
            </div>
        </div>
    </div>
</div>